$main-color: #F16D7F;
$main-pink: #EF5B70;
$main-black: #222222;
$main-grey: #ffffff;
$main-dark: #222224;
$main-icons: #E8E8E8;


$light-gray : #FBFBFB;
$deep-black: #000000;
$deep-grey: #4A4A4A;

$btn-text: #F26376;
$btn-border: #FF6A6A;
$btn-grey: #A4A4A4;
$btn-form: #B1B1B1;

$desktop-wrap: 1140px;

$shift: 63px;