/*переменные*/
@import "_vars.scss";

/*миксины*/
@import "_mixins.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*box-sizing: content-box;*/
}
body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    max-width: $desktop-wrap;
    margin: 0 auto;
}


/*скрытый заголовок h2*/
.hidden {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
    opacity: 0;
}

/*шапка*/
@import "block/_header.scss";


/*выпадающее меню в шапке*/
@import "block/_menu.scss";


/*offer на главной*/
@import "block/_offer.scss";


/*page-title в каталоге*/
@import "block/_page-title.scss";


/*категории на главной*/
@import "block/_categories.scss";


/*товары*/
@import "block/_feature.scss";


/*товары и фильтр в каталоге, с пагинацией*/
@import "block/_assortment.scss";


/*фильтр и списки в каталоге, выпадающие*/
@import "block/_filter.scss";


/*пагинация в каталоге*/
@import "block/_pagination.scss";


/*слайдер-блок на product*/ /*блок фильтр*/
@import "block/_about-product.scss";


/*корзина*/ /*форма со страницы регистрации*/
@import "block/_cart.scss";


/*регистрация*/
@import "block/_registration.scss";


/*преимущества*/
@import "block/_advantages.scss";


/*feedback*/
@import "block/_feedback.scss";


/*footer*/
@import "block/_footer.scss";


@media (max-width: 1200px) {
    .wrapper {
        max-width: 736px;
    }
    .offer-wrap {
        outline: 1px solid red;
        min-height: 368px;
        background-position-x: -30px;
        padding: 0 10px;
    }
    .offer-title {
        font-size: 44px;
        line-height: 40px;
        margin-right: 10px;
    
        &-small {
            font-size: 24px;
            line-height: 29px;
        }
    } 
    .assortment-block__item:last-child {
        margin-right: 5px;
    }
    .slider {
        outline: 1px solid red;
        min-height: 624px;
        padding-top: 29px;
	    padding-bottom: 29px;
    }
    .slider__img {
        width: 466px;
        height: 565px;
    }
    .about-wrap {
        outline: 1px solid red;
        margin-top: 0;
        max-width: 1200px;
    }

    .categories {
        padding-top: 20px;
        padding-bottom: 155px;

        &-wrap {
            gap: 19px;
            outline: 1px solid red;
        }
        &-item {
            width: 232px;
            height: 168px;

            &-acc {
                height: 116px;
                width: 100%;
            }  
        }
    }    
    .feature-products-wrap {
        outline: 1px solid red;
        margin-bottom: 65px;
    } 
    .feature-product-shift {
        margin-bottom: 129px;
    }
    .feature-content {
        margin-bottom: 73px;
    }
    .feature-cards {
        gap: 15px;
        margin-bottom: 32px;
    }
    .feature-head {
        margin-bottom: 3px;
    }
    .catalog-cards-top {
        display: none;
    }
    .feature-catalog-cards {
        margin-bottom: 40px;
    }
    .assortment {
        outline: 1px solid red;
        padding-top: 24px; 
        padding-bottom: 40px;
        justify-content: space-between;
    }
    .filter__sum {
        padding: 13px 0 0 5px;
    }
    .filter-content {
        padding: 16px 16px 0 5px;
    }
    .cart-wrap {
        flex-direction: column;
        align-items: center;
    }
    .cart-order {
        width: 100%;
        align-items: center;
        margin-right: 0;
        padding-top: 59px;
        padding-bottom: 64px;
    
        &__product {
            min-width: 100%;
            display: inline-block;
            max-width: 736px;
            padding-bottom: 0;
        }
        &__item {
            width: 100%;
        }
        &__item_two {
            margin-bottom: 62px;
        }
    }
    .cart-order__buttons {
        display: flex;
        justify-content: center;
        gap: 48px;
    }
    .cart-block {
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        width: 100%;
        gap: 15px;
    }
    .cart-form {
        margin-bottom: 0;
    } 
    .order-result {
        margin-top: 39px;
    }
    .advantages {
        min-height: 610px;
    
        &-wrap {
            outline: 1px solid red;
            flex-direction: column;
            align-items: center;
            padding: 38px 0 0;
        }
        &-block {
            margin-bottom: 45px;
          
            &:last-child {
                margin-bottom: 64px;
            }
        } 
    }
    .feedback {
        min-height: 614px;
        background-position-x: -360px;
    
        &-wrap {
            outline: 1px solid red;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 64px 0 140px;   
        }
        &-left {
            margin-bottom: 73px;
        }
    }
    .subscribe {
        margin-right: 0;
    
        &-text {
            margin-bottom: 27px;
        }
    }
}
@media (max-width: 760px) {
    .wrapper {
        max-width: 358px;
    }
    .header-account-link, .header-cart-link {
        display: none;
    }
    .offer-wrap {
        min-height: 363px;
        background-image: none;
        justify-content: center;
    }
    .offer-title {
        font-size: 38px;
        line-height: 28px;
        margin-right: 0;
    
        &-small {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .page-title-wrap {
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 46px;
    }
    .page-title-wrap-cart {
        padding-top: 50px;
        padding-bottom: 69px;
    }
    .filter__sum {
        padding: 13px 0 0 0;
    }
    .filter__sum_name {
        display: none;
    }
    .filter__img {
        margin-left: 0;
        width: 37.5px;
        height: 25px;
    }
    .assortment {
        justify-content: space-between;
    } 
    .assortment-block_sort {
        margin-right: 0;
        width: 80px;
    }
    .assortment-block_nav {
        margin-right: 5px;
    }
    .assortment-block__item {
        margin-right: 24px;
        font-size: 12px;
        line-height: 14px;
    }
    .assortment-product__item {
        font-size: 10px;
        line-height: 12px;
    }
    .breadcrumb {
        margin-right: 0;
    }
    .slider {
        padding-top: 85px;
	    padding-bottom: 85px;
       /* background-image: url(../img/product-girl.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;*/
    }
   
    .slider-box {
       width: 100%;
    }
    .about-wrap {
        margin-bottom: 64px;
    }
    .about-product {
        margin-bottom: 32px;
    }
    .about__text {
        line-height: 20px;
        margin-right: 24px;
        margin-left: 24px;
    }
    .about__line_small {
        margin: 0 156px 12px 156px;
    }
    .about__line_big {
        width: 175px;
    }
    .about-order_nav {
        margin-bottom: 64px;
    }
    .categories {
        padding-top: 64px;
        padding-bottom: 64px;
        justify-content: center;

        &-wrap {
            gap: 32px;
        }
        &-item {
            width: 343px;
            height: 248px;
    
            &-acc {
                height: 111px;
                width: 100%;
                background-image: url(../img/dark.png), url(../img/acces-mobile.png);
            }
        }
    }
    .feature-products-wrap {
        margin-bottom: 96px;
    }
    .feature-content {
        margin-bottom: 64px;
    }    
    .feature-cards {
        margin-bottom: 41px;
        justify-content: center;
    }
    .feature-products-catalog {
        margin-bottom: 65px;
    }
    .cart-order {
        padding-top: 32px;
        padding-bottom: 48px;

        &__product {
            min-width: 100%;
            max-width: 358px;
        }
        &__info {
            padding: 13px 0 37px 17px;
            height: 137px;
        }
        &__item {
            height: 188px;
            width: 100%;
        }
        &__item_one {
            margin-bottom: 32px;
        }
        &__item_two {
            margin-bottom: 30px;
        }
        &__img {
            height: 188px;
            width: 144px;
        }
        &__heading {
            width: 130px;
            @include main-text();
            margin-bottom: 25px;
        }
        &__text {
            margin-bottom: 4px;
            @include main-font();
            color: #575757;
        }
        &__text_price {
            color: $main-color;
            margin-left: 6px;
        }
        &__number {
            width: 24px;
            height: 15px;
            margin-left: 20px;
            font-size: 10px;
            line-height: 12px;
        }
    }
    .cart-order-close-btn {
        top: 10px;
        right: 12px;
    }
    .cart-order__buttons {
        justify-content: space-between;
        gap: 9px;
    }
    .cart-order__btn {
        padding: 9px 17px;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #575757;
    }
    .cart-order-close_mobile {
        width: 10px;
        height: 10px;
    }
    .cart-block {
        flex-direction: column;
        padding-top: 0;
        width: 100%;
        gap: 48px;
        margin-bottom: 96px;
    }
    .order-result {
        margin-top: 0;
    }
    .advantages-block:last-child {
        margin-bottom: 81px;
    }
    .feedback {
        height: 550px;
        background-position-x: -420px;
    
        &-wrap {
            padding: 64px 0 110px;   
        }
        &-left {
            margin-bottom: 73px;
            width: 343px;
        
            &_text {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
    .subscribe {
        width: 341px;
    
        &-text {
            margin-bottom: 22px;
            font-size: 14px;
            line-height: 21px;
        }
    }
    .footer {
        height: 143px;
    
        &-wrap {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding: 43px 0 9px;
        }
        &-right-icons {
            margin-bottom: 40px;
        }
    }
}
