.feedback {
    height: 448px;
    background-color: #eee;
    background-image: url(../img/fon_svet.png), url(../img/feedback-picture.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -40px;
    background-position: bottom;


    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &-left {
        width: 360px;
        text-align: center;
    }
    &-img {
        width: 96px;
        height: 96px;
        margin-bottom: 30px;
    }
    &-left_text {
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $main-dark;
    }
    &-italic {
        font-style: italic;
    }
    &-bold {
        font-weight: bold;
        font-size: 24px;
    }
}
.subscribe {
    width: 356px;
    margin-right: 97px;
}
.subscribe-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: $main-dark;
    margin-bottom: 32px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe-field {
    width: 256px;
    background-color: #E1E1E1;
    border: 1px solid #E1E1E1;
    border-radius: 25px 0 0 25px;

    @include main-font();
    color: $main-dark;
    padding: 20px;

    font-weight: normal;
    display: flex;
    align-items: center;
    transition: 0.3s;

    &:hover {
        background-color: #E9E9E9;
        transition: 0.3s;
    }
    &:focus {
        outline: none;
        border: 1px solid red;
        transition: 0.3s;
    }
    &::placeholder {
        @include main-font();
        color: $main-dark;
        opacity: 0.67;
        transition: 0.3s;
    }
}
.subscribe-btn {
    background-color: $main-color;
    border: none;
    border-radius: 0 25px 25px 0;
    padding: 20px;
    font-weight: normal;
    @include main-font();
    color: $main-grey;
    transition: 0.3s;

    &:hover {
        background-color: #d4263d;
        transition: 0.3s;
    }
}
