.main-menu {
    background-color: $main-grey; 
    width: 232px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 40px 36px;
    position: absolute; 
    top: 100%;
    right: 0;
    min-height: 764px;
 
    &-open {
     display: block;
    }
    &-close {
         display: none;
    }
    &-box {
         position: relative;
         transition: 0.4s;
    }
    &-close-btn {
         position: absolute;
         padding: 10px;
         top: -27px;
         right: -27px;
         background-color: transparent;
         border: none;
         outline: none;
         transition: 0.4s;
     
         &:hover {
             background-color: $main-color;
        }
    }
     &-title {
         font-weight: bold;
         @include main-font();
         color: $deep-black;
         margin-bottom: 25px;
    }
     &-list {
         list-style: none;
    }
     &-item {
         margin-bottom: 20px;
    }
     &-link {
         text-decoration: none;
         font-weight: normal;
         @include main-font();
         color: $main-color;
         text-transform: uppercase;

         &:hover {
             transition: 0.3s;
             color: #d4263d;
         }
     
   }
}
 .main-submenu {
     list-style: none;
     padding-left: 20px;
 
     &__item {
         margin-top: 11px;
     }
     &__link {
         text-decoration: none;
         font-weight: normal;
         @include main-font();
         color: #6F6E6E;
     }
 }